<div class="layout-px-spacing">

    <div class="page-header">
        <div class="page-title">
            <h3>Categories</h3>
        </div>
    </div>

    <div class="row layout-top-spacing" id="cancel-row">
        <div class="col-xl-12 col-lg-12 col-sm-12 layout-spacing">

            <div class="d-flex justify-content-end m-2">
                <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Create
                    Category
                </button>
            </div>
            <div class="widget-content widget-content-area br-6">
                <div class="table-responsive mb-4 mt-4">

                    <table id="range-search" class="display table " style="width:100%">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>image</th>
                                <th>Name</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(var i=0; i < categories.length; i++) { %>
                                <tr>
                                    <td>
                                        <%= categories[i].id %>
                                    </td>
                                    <td>
                                        <img src="/images/<%= categories[i].image %>" alt="" style="width: 75px;">
                                    </td>
                                    <td>
                                        <%= categories[i].name %>
                                    </td>
                                    <td class="text-center">
                                        <div class="dropdown custom-dropdown">
                                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink6"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                    class="feather feather-more-horizontal">
                                                    <circle cx="12" cy="12" r="1"></circle>
                                                    <circle cx="19" cy="12" r="1"></circle>
                                                    <circle cx="5" cy="12" r="1"></circle>
                                                </svg>
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink6">

                                                <a class="dropdown-item" href="javascript:void(0);" data-toggle="modal"
                                                    data-target="#editModal-<%= categories[i].id %>">Edit</a>
                                                <a class="dropdown-item" href="javascript:void(0);"
                                                    data-target="#deleteModal-<%= categories[i].id%>"
                                                    data-toggle="modal">Delete</a>
                                            </div>
                                        </div>

                                    </td>

                                </tr>
                                <% } %>

                        </tbody>
                        <tfoot>
                            <tr>
                                <th>id</th>
                                <th>image</th>
                                <th>name</th>

                                <th class="text-center">Action</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>

    </div>

</div>


<!-- create modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create Category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="needs-validation" action="store" method="post" enctype="multipart/form-data">

                    <div class="form-row">
                        <div class="col-md-12 mb-4">
                            <label for="validationCustom01">Name</label>
                            <input type="text" class="form-control" id="validationCustom01" placeholder="name" required
                                name="name">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="col-m-12 mt-1 mb-4">

                            <label for="">Image</label>
                            <div class="custom-file" style="width:100% ;">
                                <input type="file" class="custom-file-input" name="image" id="customFile">
                                <label class="custom-file-label" for="customFile">Choose file</label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- end create modal -->
<!-- start edit modal -->
<% for(var i=0; i < categories.length; i++) { %>

    <div class="modal fade" id="editModal-<%=categories[i].id  %>" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Category</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="needs-validation" action="update/<%=categories[i].id  %>" method="post" enctype="multipart/form-data">

                        <div class="form-row">
                            <div class="col-md-12 mb-4">
                                <label for="validationCustom01">Name</label>
                                <input type="text" class="form-control" id="validationCustom01" placeholder="name"
                                    required name="name" value="<%= categories[i].name %> ">

                            </div>
                            <div class="col-m-12 mt-1 mb-4">

                                <label for="">Image</label>
                                <div class="custom-file" style="width:100% ;">
                                    <input type="file" class="custom-file-input" name="image" id="customFile">
                                    <label class="custom-file-label" for="customFile">Choose file</label>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <% } %>
        <!-- end edit modal -->

        <!-- delete modal -->
        <% for(var i=0; i < categories.length; i++) { %>


            <div class="modal fade" id="deleteModal-<%=categories[i].id %>" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Delete Category</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form class="needs-validation" action="delete/<%=categories[i].id  %>" method="get">
                                Are you sure you want to delete <%= categories[i].name%> ?
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
                <!-- end edit modal -->